@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Roboto", serif;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 1rem;
}
